.DateRangePickerInput {
    font-size: 12px !important;
    padding: 0;
    height: auto;
}

.DateInput_input {
    font-size: 12px !important;
    padding-right: 0;
    padding-left: 5px;
}

label {
    font-size: 0.9rem !important;
    display: block;
}

h3 {
    font-size: 1.5rem !important;
    font-weight: bold;
}

p {
    font-size: 1rem !important;
    font-weight: bolder;
    color: black;
}
