.DateRangePickerInput {
    font-size: 12px !important;
    padding: 0;
    height: auto;
}

.DateInput_input {
    font-size: 12px !important;
    padding-right: 0;
    padding-left: 5px;
}
.card {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0) !important;
    border: none !important;
}

label {
    font-size: 0.9rem !important;
    display: block;
}

h3 {
    font-size: 1.5rem !important;
    font-weight: bold;
}

p {
    font-size: 1rem !important;
    font-weight: bolder;
    color: black;
}

/* Estilização para os Cards */
.kpi-card {
    background: #ffffff;  /* Fundo branco */
    border-radius: 10px;  /* Bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0); /* Sombra suave */
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.kpi-card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Título dos KPIs */
.kpi-card p {
    font-size: 1.1rem;
    font-weight: 600;
    color: #0B2559; /* Azul escuro */
    margin-bottom: 5px;
}

/* Valor dos KPIs */
.kpi-card h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff; /* Azul Bootstrap */
    margin-top: 0;
}
